body{
    font-family: Open Sans;
    font-style: normal;
}
body ul{
    list-style:none;
}
.header-menu-wrapper ul {
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 45px;
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    width: 1280px;
}
.header-menu-wrapper {
    width: 41%;
}

.header-menu-wrapper a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
/* or 150% */
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    text-align: center;
    padding-left: 45px;
    color: white;
    padding-right: 45px;
}

header {
    position: absolute;
    top: 50px;
    width: 100%;
}
section.section-header {
    background: url(/assets/template/header-bg.jpg);
    margin-top: 0px;
    padding-top: 100px;
    background-size: cover;
    padding-bottom: 83px;
}

.section-header-left {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
/* or 100% */
    position: absolute;
    /* text-align: center; */
    left: 7%;
    top: 500px;
    color: #FFFFFF;
    transform: rotate(
-90deg
);
    transform-origin: left;
}

.section-header-right {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    line-height: 12px;
/* or 100% */
    text-align: center;
    color: #FFFFFF;
    /* right: 7%; */
    top: 500px;
}
.blocks {
    display: flex;
    justify-content: center;
    margin-top: 225px;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
/* or 117% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title {
    font-size: 96px;
    
/* or 0% */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    /* border: 1px solid #000000; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 82px;
}

.btn-1 {
    background: #E8C300;
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 40px;
}

.btn-2 {
    /* background: #E8C300; */
    border-radius: 5px;
    color: white;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}
.circle-wrapper {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
}
img.pizda {
    position: absolute;
    left: 45%;
    top: -11px;
}